<div class="container-sm">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <br><br>
    <h2 class="h2 text-center"><%= t('.instructions') %></h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form' }) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>

      <br>
      <div class="form-group">
        <%= f.label :email, t('email'), class: 'control-label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
      </div>
      <br>

      <div class="form-actions">
        <%= f.submit t('.instructions'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <br>

    <%= render 'devise/shared/links' %>
  </div>
</div>
