<div class="container-sm">
  <%= form_with(model: [:admin, @show], local: true, class: "form") do |form| %>
    <% if @show.errors.any? %>
      <%= render 'shared/errors', resource: @show %>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= form.label :theatre_id, t(:theatre), class: "form-label" %></strong>
          <%= form.select :theatre_id, @operational_theatres, { prompt: 'Select Theatre' }, class: "form-select" %>
        </div><br>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <strong><%= form.label :movie_id, t(:movie), class: "form-label" %></strong>
          <%= form.select :movie_id, @live_movies, { prompt: 'Select Movie' }, class: "form-select" %>
        </div><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= form.label :start_time, t(:start_time) %>:</strong>
          <%= form.datetime_field :start_time, class: "form-control", required: true %>
        </div><br>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <strong><%= form.label :price, t(:price) %>:</strong>
          <%= form.number_field :price, class: "form-control", required: true %>
        </div><br>
      </div>
    </div>

    <div class="text-center">
      <%= form.submit t(:submit), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
