<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title"><strong><%= t(:theatre) %>:</strong> <%= show.theatre_name %></h5>
            </div>
            <div class="col-6">
              <h5 class="card-title"><strong><%= t(:movie) %>:</strong> <%= show.movie_title %></h5>
            </div>
          </div><br>
          <div class="row">
            <div class="col-6">
              <p class="card-text"><strong><%= t(:show_date) %>:</strong> <%= show.date %></p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong><%= t(:status) %>:</strong> <%= show.status.humanize.upcase %></p>
            </div>
          </div><br>
          <div class="row">
            <div class="col-6">
              <p class="card-text"><strong><%= t(:start_time) %>:</strong> <%= show.start_time.strftime('%I:%M %p') %></p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong><%= t(:end_time) %>:</strong> <%= show.end_time.strftime('%I:%M %p') %></p>
            </div>
          </div><br>
          <div class="row justify-content-end">
            <div class="col-auto">
              <div class="btn-group">
                <% if local_assigns[:show_button] %>
                  <%= link_to t(:show), admin_show_path(show), class: "btn btn-primary" %>
                <% end %>&nbsp;
                <%= link_to t(:edit), edit_admin_show_path(show), class: "btn btn-primary" %>&nbsp;
                <%= button_to t(:destroy), admin_show_path(show), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
