<div class="container">
  <h1 class="my-4 text-center"><%= t('orders.my_orders') %></h1>
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-12">
        <%= link_to order_path(order), class: 'text-decoration-none btn-link btn-block', remote: true do %>
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <h2 class="card-title"><%= t('orders.order_number') %>: <%= order.number %></h2>
                </div>
                <div class="col-md-6">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="order-status">
                      <% if order.completed? %>
                        <span class="badge bg-success"><%= t('orders.completed') %></span>
                      <% elsif order.cancelled? %>
                        <span class="badge bg-danger"><%= t('orders.cancelled') %></span>
                      <% else %>
                        <span class="badge bg-warning text-dark"><%= t('orders.pending') %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <h6 class="text-muted"><%= t('orders.total') %>: <%= number_to_currency(order.total, unit: '₹') %></h6>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="card-text"><b><%= t('orders.completed_at') %>:</b> <%= order.completed_at.strftime('%d-%h-%Y %I:%M %p')  %></p>
                </div>
                <div class="col-6">
                  <% if order.cancelled_at? %>
                    <p class="card-text"><b><%= t('orders.cancelled_at') %>:</b> <%= order.cancelled_at.strftime('%d-%h-%Y %I:%M %p') %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
