<div
  style="visibility: hidden"
  id="current_user_id"
  data="<%= current_user&.id %>"
></div>
<div class="container">
  <%= link_to t('orders.back'), orders_path, class: "btn btn-secondary position-absolute top-1 start-1 mt-2 ms-2" %>
  <h1 class="my-4 text-center"><%= t('orders.order_details') %></h1>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
        <h5 class="card-title"><%= t('orders.order_number') %>: <%= @order.number %></h5>
        </div>
        <div class="col-md-6">
          <div class="order-status">
            <% if @order.completed? %>
              <span class="badge bg-success"><%= t('orders.completed') %></span>
            <% elsif @order.cancelled? %>
              <span class="badge bg-danger"><%= t('orders.cancelled') %></span>
            <% else %>
              <span class="badge bg-warning text-dark"><%= t('orders.pending') %></span>
            <% end %>
          </div><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="card-text"><b><%= t('orders.completed_at') %>:</b> <%= @order.completed_at.strftime('%d-%h-%Y %I:%M %p') %></p>
          <% if @order.cancelled_at? %>
            <p class="card-text"><b><%= t('orders.cancelled_at') %>:</b> <%= @order.cancelled_at.strftime('%d-%h-%Y %I:%M %p') %></p>
          <% end %>
        </div>
        <div class="col-md-6">
          <% if @order.cancelled_by_user.present? %>
            <p class="card-text"><b><%= t('orders.cancelled_by_user') %>:</b> <%= @order.cancelled_by_user.name %></p>
          <% end %>
          <p class="card-text"><b><%= t('orders.total') %>:</b> <%= number_to_currency(@order.total, unit: '₹ ') %></p>
        </div>
      </div><br>
      <% if @order.cancellable? %>
        <% if @order.completed? %>
          <%= button_to refund_order_path(@order), method: :post, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to cancel this order?' } do %>
            <%= t('orders.cancel_order') %>
          <% end %>
        <% end %><br>
      <% end %>
      <b><%= t('orders.tickets') %>:</b><br><br>
      <% @order.line_items.each do |line_item| %>
        <div class="row mb-4 d-flex justify-content-between align-items-center">
          <div class="col-md-2 col-lg-2 col-xl-2">
            <%= image_tag(line_item.show.movie.poster, class: "img-fluid movie-image") %>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2">
            <h6 class="text-muted"><%= t(:movie) %></h6>
            <h6 class="text-black mb-0"><%= line_item.show.movie.title %></h6>
          </div>
          <div class="col-md-1 col-lg-1 col-xl-1">
            <h6 class="text-muted"><%= t(:theatre) %></h6>
            <h6 class="text-black mb-0"><%= line_item.show.theatre.name %></h6>
          </div>
          <div class="col-md-1 col-lg-1 col-xl-1">
            <h6 class="text-muted"><%= t(:seats) %></h6>
            <h6 class="text-black mb-0"><%= line_item.quantity %></h6>
          </div>
          <div class="col-md-1 col-lg-1 col-xl-1">
            <h6 class="text-muted"><%= t(:unit_price) %></h6>
            <h6 class="text-black mb-0"><%= line_item.unit_price %></h6>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2">
            <h6 class="text-muted"><%= t(:show_start_time) %></h6>
            <h6 class="text-black mb-0"><%= line_item.show.start_time.strftime('%d-%h-%Y %I:%M %p') %></h6>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-3">
            <% movie = line_item.show.movie %>
            <div
              style="visibility: hidden"
              id="reactable"
              data-reactable-id="<%= movie.id %>"
              data-reactable-type="Movie"
            ></div>
            <% if movie.user_reactions.liked_by_user?(current_user) %>
              <% like_btn_class = 'btn btn-primary' %>
              <% dislike_btn_class = 'btn btn-light' %>
            <% elsif movie.user_reactions.disliked_by_user?(current_user) %>
              <% dislike_btn_class = 'btn btn-danger' %>
              <% like_btn_class = 'btn btn-light' %>
            <% else %>
              <% like_btn_class = 'btn btn-light' %>
              <% dislike_btn_class = 'btn btn-light' %>
            <% end %>
            <div class="row">
              <div class="col-md-2">
                <%= button_to up_vote_user_reaction_path(movie, reactable_type: 'Movie'), method: :post, class: like_btn_class, remote: true, id: 'upvote_button', disabled: current_user.nil? do %>
                  <%= t(:like) %> | <span id='likes'><%= movie.user_reactions.total_likes %></span>
                <% end %>
              </div>
              <div class="col-md-3">
                <%= button_to down_vote_user_reaction_path(movie, reactable_type: 'Movie'), method: :post, class: dislike_btn_class, remote: true, id: 'downvote_button', disabled: current_user.nil?  do %>
                  <%= t(:dislike) %> | <span id='dislikes'><%= movie.user_reactions.total_dislikes %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div><br>
