<div class="container-sm">
  <%= form_with(model: [:admin,@theatre], local: true, class: "form") do |form| %>
    <% if @theatre.errors.any? %>
    <div id="error_explanation">
      <h2><strong><%= pluralize(@theatre.errors.count, "error") %>
      prohibited this product from being saved:</strong></h2>

      <ul>
        <% @theatre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <strong><%= form.label :name %></strong>
      <%= form.text_field :name, class: "form-control" %>
    </div><br>

    <div class="form-group">
      <strong><%= form.label :screen_type, class: "form-label" %></strong>
      <%= form.select :screen_type, ['IMAX', 'HD', '4K ULTRA'], { prompt: 'Select Screen Type' }, class: "form-select" %>
    </div><br>

    <div class="form-group">
      <strong><%= form.label :seating_capacity %></strong>
      <%= form.number_field :seating_capacity, class: "form-control" %>
    </div><br>

    <div class="form-group">
      <strong><%= form.label :operational %></strong>
      <%= form.check_box :operational, class: "form-check-input" %>
    </div><br>

    <div class="form-group">
      <strong><%= form.label :contact_number %></strong>
      <%= form.text_field :contact_number, class: "form-control" %>
    </div><br>

    <div class="form-group">
      <strong><%= form.label :contact_email %></strong>
      <%= form.text_field :contact_email, class: "form-control" %>
    </div><br>

    <%= form.fields_for :address do |address_form| %>
      <div class="form-group">
        <strong><%= address_form.label :street, class: "form-label" %></strong>
        <%= address_form.text_field :street, class: "form-control" %>
      </div><br>
      <div class="form-group">
        <strong><%= address_form.label :city, class: "form-label" %></strong>
        <%= address_form.text_field :city, class: "form-control" %>
      </div><br>
      <div class="form-group">
        <strong><%= address_form.label :state, class: "form-label" %></strong>
        <%= address_form.text_field :state, class: "form-control" %>
      </div><br>
      <div class="form-group">
        <strong><%= address_form.label :pincode, class: "form-label" %></strong>
        <%= address_form.number_field :pincode, class: "form-control" %>
      </div><br>
      <div class="form-group">
        <strong><%= address_form.label :country_id, class: "form-label" %></strong>
        <%= address_form.select :country_id, Country.order(:name).map { |country| [country.name, country.id] }, { prompt: 'Select Country' }, class: "form-select" %>
      </div><br>
    <% end %>

    <div class="text-center">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
