<div class="container"><br>
  <h1 class="mb-4 text-center">Users Spendings</h1><br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= form_with url: users_spendings_admin_reports_path, method: :get, html: { class: "mb-4" } do |form| %>
          <div class="row">
            <div class="col">
              <div class="form-group d-flex align-items-center">
                <b><%= form.label :from, "From:", class: "me-2 mb-0" %></b>
                <%= form.date_field :from, class: "form-control", value: params[:from], required: true %>
              </div>
            </div>
            <div class="col">
              <div class="form-group d-flex align-items-center">
                <b><%= form.label :to, "To:", class: "me-2 mb-0" %></b>
                <% to_value = params[:to]  %>
                <%= form.date_field :to, class: "form-control", value: to_value, required: true %>
              </div>
            </div>
            <div class="col">
              <%= form.submit "Submit", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @users.present? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Total Paid</th>
          <th>Refund Total</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.total_paid %></td>
            <td><%= user.total_refund %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No Users found.</p>
  <% end %>
</div>
