<div
  style="visibility: hidden"
  id="current_user_id"
  data="<%= current_user&.id %>"
></div>
<div
  style="visibility: hidden"
  id="reactable"
  data-reactable-id="<%= movie.id %>"
  data-reactable-type="Movie"
></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag(movie.poster, class: "img-fluid movie-image") %>
            </div>
            <div class="col-md-8">
              <h5 class="card-title"><strong><%= movie.title %></strong></h5>
              <hr>
              <p><strong><%= t(:release_date) %>:</strong> <%= movie.release_date %></p>
              <p><strong><%= t(:description) %>:</strong> <%= movie.description %></p>
              <p><strong><%= t(:duration_in_mins) %>:</strong> <%= movie.duration_in_mins %></p>
              <p><strong><%= t(:status) %>:</strong> <%= movie.status %></p>
              <% if movie.user_reactions.liked_by_user?(current_user) %>
                <% like_btn_class = 'btn btn-primary' %>
                <% dislike_btn_class = 'btn btn-light' %>
              <% elsif movie.user_reactions.disliked_by_user?(current_user) %>
                <% dislike_btn_class = 'btn btn-danger' %>
                <% like_btn_class = 'btn btn-light' %>
              <% else %>
                <% like_btn_class = 'btn btn-light' %>
                <% dislike_btn_class = 'btn btn-light' %>
              <% end %>
              <div class="row">
                <div class="col-md-2">
                  <%= button_to up_vote_user_reaction_path(movie, reactable_type: 'Movie'), method: :post, class: like_btn_class, remote: true, id: 'upvote_button', disabled: current_user.nil? do %>
                    <%= t(:like) %> | <span id='likes'><%= movie.user_reactions.total_likes %></span>
                  <% end %>
                </div>
                <div class="col-md-3">
                  <%= button_to down_vote_user_reaction_path(movie, reactable_type: 'Movie'), method: :post, class: dislike_btn_class, remote: true, id: 'downvote_button', disabled: current_user.nil?  do %>
                    <%= t(:dislike) %> | <span id='dislikes'><%= movie.user_reactions.total_dislikes %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
