<div class="container-lg">
  <%= link_to t('store_front.movies.back'), request.referrer, class: "btn btn-secondary position-absolute top-1 start-1 mt-2 ms-2" %>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card-body">
        <%= render @movie, show_button: false %>
        <br>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center mb-4">Movie Shows</h2>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <%= form_with url: movie_path(@movie), method: :get, html: { class: "mb-4" } do |form| %>
              <div class="row">
                <div class="col">
                  <div class="form-group d-flex align-items-center">
                    <%= form.label :from, "From:", class: "me-2 mb-0" %>
                    <% from_value = params[:from].presence || Time.current.strftime('%Y-%m-%d') %>
                    <%= form.date_field :from, class: "form-control", value: from_value, required: true %>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group d-flex align-items-center">
                    <%= form.label :to, "To:", class: "me-2 mb-0"  %>
                    <% to_value = params[:to].presence || 1.week.from_now.strftime('%Y-%m-%d') %>
                    <%= form.date_field :to, class: "form-control", value: to_value, required: true %>
                  </div>
                </div>
                <div class="col">
                  <%= form.submit "Submit", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <% if @movie_theatres.empty? %>
        <div class="card">
          <div class="card-body text-center">
            <h5>No shows available</h5>
          </div>
        </div><br>
      <% else %>
        <%@movie_theatres.each do |theatre| %>
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="card-title"><%= theatre.name %></h4>
              <% theatre.shows.each do |show| %>
                <% if show.seats_available.zero? %>
                  <%= button_to movie_theatre_show_path(movie_id: @movie.id, theatre_id: theatre.id), method: :get, class: "btn btn-secondary mb-1", disabled: true do %>
                    <%= show.date %>
                    <%= show.start_time.strftime('%I:%M %p') %>
                  <% end %>
                <% else %>
                  <%= button_to movie_theatre_show_path(movie_id: @movie.id, theatre_id: theatre.id), method: :get, class: "btn btn-primary mb-1" do %>
                    <%= show.date %>
                    <%= show.start_time.strftime('%I:%M %p') %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

