<!DOCTYPE html>
<html>
  <head>
    <title>MovieBooking</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <!-- Brand/logo -->
        <%= link_to movies_path, class: "navbar-brand text-bg-dark" do %>
                MovieBooking
        <% end %>
        <!-- Navbar items on the left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to admin_reports_path, class: "nav-link text-bg-dark" do %>
                Reports
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_movies_path, class: "nav-link text-bg-dark" do %>
                Movies
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_theatres_path, class: "nav-link text-bg-dark" do %>
              Theatres
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_shows_path, class: "nav-link text-bg-dark" do %>
              Shows
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_orders_path, class: "nav-link text-bg-dark" do %>
                Orders
            <% end %>
          </li>
        </ul>

        <!-- Navbar items on the right -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <% if user_signed_in? %>
                <a class="dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-person-circle display-6"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
                  <%= link_to 'My Profile', my_profile_path, class: 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'Store Front', movies_path, class: 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              <% else %>
                <%= link_to t('log_in'), new_user_session_path, class: 'btn btn-primary mr-2' %>
              <% end %>
              &nbsp
            </li>

            <li class="nav-item">
              <% unless user_signed_in? %>
                <%= link_to t('sign_up'), new_user_registration_path, class: 'btn btn-primary' %>
              <% end %>
            </li>
          </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <div class="alert alert-primary">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
