<!DOCTYPE html>
<html>
  <head>
    <title>MovieBooking</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <!-- Brand/logo -->
        <%= link_to movies_path, class: "navbar-brand text-bg-dark" do %>
                MovieBooking
        <% end %>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to orders_path, class: "nav-link text-bg-dark" do %>
                Orders
            <% end %>
          </li>
        </ul>

        <!-- Navbar items on the right -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary mr-2' %>
            <% else %>
              <%= link_to t('log_in'), new_user_session_path, class: 'btn btn-primary mr-2' %>
            <% end %>
            &nbsp
          </li>

          <li class="nav-item">
            <% if user_signed_in? %>
              <%= button_to t('log_out'), destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to t('sign_up'), new_user_registration_path, class: 'btn btn-primary' %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <div class="alert alert-primary">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
